{% extends 'base.html.twig' %}

{% block title %}Courses index{% endblock %}

{% block body %}

    <h1>Courses index</h1>

    <h2>All courses</h2>
    <ul>
    {% for course in allCourses %}
        <li>
            {{ course.name }}
            {% if 'ROLE_PROFESSOR' not in app.user.roles and 'ROLE_ADMIN' not in app.user.roles %}
                {% if course not in userCourses %}
                    <a href="register/{{ course.id }}"><button>Register</button></a>
                {% endif %}
            {% endif %}
        </li>
    {% else %}
        <li>No courses found.</li>
    {% endfor %}
    </ul>

        <h2>Your courses</h2>
        <ul>
            {% for course in userCourses %}
                <li>{{ course.name }}</li>
                {% if 'ROLE_PROFESSOR' in app.user.roles %}
                    {% if students != null %}
                    <ul>
                        Students
                    {% for key, student in students %}
                        {% for studentEmail in student %}
                            {% if key == course.id %}
                                {% if app.user.username != studentEmail %}
                                    <li>{{ studentEmail }}</li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </ul>
                    {% else %}
                        No student found
                    {% endif %}
                {% endif %}
            {% else %}
                <li>No courses found.</li>
            {% endfor %}
        </ul>

{% endblock %}
