{% extends 'base.html.twig' %}

{% block title %}Courses index{% endblock %}

{% block body %}
    <table class="table table table-hover">
        <thead class="thead-light">
            <tr>
                <th>All courses</th>
                <th>Your courses</th>
                <th>Register</th>
            </tr>
        </thead>
        <h1 class="display-4">Course Listing</h1>
       
       <small class="text-muted">See all your classes and the one you can register for.</small>
        <hr>
        <tbody>

            {% for course in allCourses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.name }}</td>
                   
               
                {% if 'ROLE_PROFESSOR' not in app.user.roles and 'ROLE_ADMIN' not in app.user.roles %}
                    {% if course not in userCourses %}
                        <td><a href="register/{{ course.id }}">
                            <button class ="btn btn-secondary">Register</button>
                        </a></td>
                    {% endif %}
                {% endif %}
 </tr>
            {% else %}
                No courses found.
            {% endfor %}

            {% for course in userCourses %}
            <tr>
              
            </tr>
              
                {% if 'ROLE_PROFESSOR' in app.user.roles %}
                    {% if students != null %}

                        Students
                        {% for key, student in students %}
                            {% for studentEmail in student %}
                                {% if key == course.id %}
                                    {% if app.user.username != studentEmail %}
                                        {{ studentEmail }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                    {% else %}
                        No student found
                    {% endif %}
                {% endif %}
            {% else %}
                No courses found.
            {% endfor %}
        </tbody>
    </table>
{% endblock %}