{% extends 'base.html.twig' %}

{% block title %}Courses index{% endblock %}

{% block body %}
    <h1>Courses index</h1>

    <h2>All courses</h2>
    <ul>
    {% for course in allCourses %}
        <li>{{ course.name }}</li>
    {% else %}
        <li>No courses found.</li>
    {% endfor %}
    </ul>

    <h2>Your courses</h2>
    <ul>
        {% for course in userCourses %}
            <li>{{ course.name }}</li>
        {% else %}
            <li>No courses found.</li>
        {% endfor %}
    </ul>

{% endblock %}
